<ion-header>
  <ion-navbar>
    <ion-title>Customer Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      {{currentCustomer?.code}} &nbsp; {{currentCustomer?.name}}
    </ion-card-header>
    <ion-card-content>
      <h3 *ngIf="currentCustomer?.telephone">Telephone: {{currentCustomer?.telephone}}</h3>
      <h3 *ngIf="currentCustomer?.contactPersonName">Contact Person: {{currentCustomer?.contactPersonName}}</h3>
      <p>{{currentCustomer?.addressLine1}}</p>
      <p>{{currentCustomer?.addressLine2}}</p>
      <p>{{currentCustomer?.addressLine3}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>