<ion-header>
  <ion-navbar>
    <ion-title>New Customer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <!--ion-item>
      <ion-label stacked>Code</ion-label>
      <ion-input [(ngModel)]="code" type="text" placeholder="Customer's code?">
      </ion-input>
    </ion-item-->
  <form [formGroup]="customerForm"  (submit)="createCustomer()" novalidate>
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input formControlName="name" type="text" placeholder="Customer's name?"
       [class.invalid]="!customerForm.controls.name.valid && customerForm.controls.name.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!customerForm.controls.name.valid">
      <p>Please enter a valid name.</p>
    </ion-item>
    <ion-item>
      <ion-label stacked>Telephone</ion-label>
      <ion-input formControlName="telephone" type="number" placeholder="Phone number"
       [class.invalid]="!customerForm.controls.telephone.valid && customerForm.controls.telephone.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!customerForm.controls.telephone.valid">
      <p>Please enter a valid phone/mobile number.</p>
    </ion-item>
    <ion-item>
      <ion-label stacked>Contact Person</ion-label>
      <ion-input formControlName="contactPersonName" type="text" placeholder="Contact person's name?" >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Address</ion-label>
      <ion-input formControlName="addressLine1" type="text" placeholder="Address Line1">
      </ion-input>
      <ion-input formControlName="addressLine2" type="text" placeholder="Address Line2">
      </ion-input>
      <ion-input formControlName="addressLine3" type="text" placeholder="Address Line3">
      </ion-input>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!customerForm.valid">
      Create Customer
    </button>
  </form>
</ion-content>