<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon item-left name="book"></ion-icon>
      &nbsp; &nbsp; {{("00000"+currentOrder?.orderNo).slice(-6)}}  - Order Details
    </ion-title>
    <ion-buttons end>
      <button ion-button round outline Secondary (click)="goToSave()" 
              *ngIf="this.newOrder==true" class="save-button">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-icon item-left name="contact"></ion-icon>
      {{currentOrder?.customer}}
    </ion-card-header>
    <ion-card-content>
      <p>Order Date: <strong item-right>{{ currentOrder?.orderDate | date :  "dd MMM yyyy" }} </strong></p>
      <p>Request Date: <strong item-right>{{ currentOrder?.requestDate | date :  "dd MMM yyyy" }}</strong></p>
      <p *ngIf="currentOrder?.notes">Notes: <strong item-right>{{ currentOrder?.notes }}</strong></p>
    </ion-card-content>
  </ion-card>

  <ion-card class="Items">
    <ion-card-header>
      Items
    </ion-card-header>
    <ion-card-content>
      <ion-row *ngFor="let orderItem of orderItemList">
        <ion-col col-6>
          <ion-icon item-left name="pricetag"></ion-icon>
          {{orderItem?.item}}
        </ion-col>
        <ion-col col-2>
          {{orderItem?.qty}}
        </ion-col>
        <ion-col col-2>
          <button ion-button  Secondary (click)="goToEditItem(orderItem)" *ngIf="!currentOrder?.submitted">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-2>
          <button ion-button item-right color="danger" (click)="goToDeleteItem(orderItem.id)" *ngIf="!currentOrder?.submitted">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="Add Item" *ngIf="!currentOrder?.submitted">
    <ion-card-header>
      <ion-icon item-start name="create"></ion-icon>
      Add new item to order
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="orderItemForm" (submit)="addItem()" novalidate>
        <ion-item>
          <ion-label stacked>Item</ion-label>
          <ion-select formControlName="item" placeholder="Select an item" required>
            <ion-option *ngFor="let item of itemList" value="{{item.name}}">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>QTY</ion-label>
          <ion-input formControlName="qty" type="number" placeholder="Enter quantity" required></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button block type="submit" [disabled]="!orderItemForm.valid">
            Add Item
          </button>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card class="Submit Order">
    <ion-card-header *ngIf="currentOrder?.submitted" class="sumbit-note">
      <p>Sales order has been successfully submitted.</p>
    </ion-card-header>
    <ion-card-content *ngIf="!currentOrder?.submitted" >
      <button ion-button block color="secondary" (click)="goToSubmit()">
        Submit Your Sales Order
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>