<ion-header>
  <ion-navbar>
    <ion-title>{{currentOrder?.orderNo}}</ion-title>
    <ion-buttons end>
      <button ion-button round outline Secondary (click)="goToSave()" 
              *ngIf="this.newOrder==true">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<ion-row padding>
    <ion-col col-8>
      Current Order Revenue
    </ion-col>
    <ion-col col-4>
      {{currentOrder?.orderDate}}
    </ion-col>
  </ion-row>-->
  <ion-card>
    <ion-card-header>
      {{currentOrder?.customer}}
    </ion-card-header>
    <ion-card-content>
      <p>Order Date: <strong item-right>{{ currentOrder?.orderDate | date :  "dd MMM yyyy" }} </strong></p>
      <p>Request Date: <strong item-right>{{ currentOrder?.requestDate | date :  "dd MMM yyyy" }}</strong></p>
    </ion-card-content>
  </ion-card>

  <ion-card class="Items">
    <ion-card-header>
      Items
    </ion-card-header>
    <ion-card-content>
      <ion-row *ngFor="let orderItem of orderItemList">
        <ion-col col-6>
          {{orderItem?.item}}
        </ion-col>
        <ion-col col-2>
          {{orderItem?.qty}}
        </ion-col>
        <ion-col col-2>
          <button ion-button  Secondary (click)="goToEditItem(orderItem)">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-2>
          <button ion-button item-right color="danger" (click)="goToDeleteItem(orderItem.id)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
        <!--span><strong>{{orderItem?.item}}</strong></span>
        <span item-right>
          <strong>{{orderItem?.qty}}</strong>
          <button ion-button  Secondary (click)="goToEditItem(orderItem)">
            <ion-icon name="create"></ion-icon>
          </button>
          <button ion-button color="danger" (click)="goToDeleteItem(orderItem.id)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </span>
      </ion-item-->
    </ion-card-content>
  </ion-card>

  <ion-card class="Add Item">
    <ion-card-header>
      Add new item to order
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="orderItemForm" (submit)="addItem()" novalidate>
        <ion-item>
          <ion-label stacked>Item</ion-label>
          <ion-select formControlName="item" placeholder="Select an item" required>
            <ion-option *ngFor="let item of itemList" value="{{item.name}}">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>QTY</ion-label>
          <ion-input formControlName="qty" type="number" placeholder="Enter quantity" required></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button block type="submit" [disabled]="!orderItemForm.valid">
            Add Item
          </button>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
<ion-content>